<% if user_signed_in? %>
  <div class="text-lg font-bold text-blue-500"> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "bg-red-500 text-black px-4 py-2 rounded" %>
  <div class="facebook-campaign-stats">
    <h2>Statistiques de la Campagne Facebook <%= @global_data[:campaign_name] %></h2>
    <% if flash[:alert].present? %>
      <div class="alert alert-error">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <% if @global_data.present? %>
      <div class="stats-grid">
        <div class="stat-card">
          <h3>Impressions</h3>
          <p><%= number_with_delimiter(@global_data[:impressions]) %></p>
        </div>
        <div class="stat-card">
          <h3>Portée</h3>
          <p><%= number_with_delimiter(@global_data[:reach]) %></p>
        </div>
        <div class="stat-card">
          <h3>Clics</h3>
          <p><%= number_with_delimiter(@global_data[:clicks]) %></p>
        </div>
        <div class="stat-card">
          <h3>Dépenses</h3>
          <p><%= number_to_currency(@global_data[:spend], unit: '€') %></p>
        </div>
      </div>
      <div class="campaign-dates">
        <p>
          <strong>Période de la campagne :</strong>
          <% if @global_data[:date_start].present? && @global_data[:date_stop].present? %>
            <%= l(Date.parse(@global_data[:date_start]), format: :long) %>
            - <%= l(Date.parse(@global_data[:date_stop]), format: :long) %>
          <% else %>
            Période non disponible
          <% end %>
        </p>
      </div>
      <div class="graph-container">
        <%= render 'shared/pie_chart',
        canvas_id: 'genderImpressionsPieChart',
        labels: ['Femmes', 'Hommes', 'Non spécifié'],
        data: [
          @gender_data[:gender_breakdown]["female"][:impressions],
          @gender_data[:gender_breakdown]["male"][:impressions],
          @gender_data[:gender_breakdown]["unknown"][:impressions]
        ],
        background_colors: ['#FF6384', '#36A2EB', '#FFCE56'],
        title: 'Répartition des impressions par genre',
          metric_name: 'impressions'
        %>
        <%= render 'shared/pie_chart',
        canvas_id: 'genderClicksPieChart',
        labels: ['Femmes', 'Hommes', 'Non spécifié'],
        data: [
          @gender_data[:gender_breakdown]["female"][:clicks],
          @gender_data[:gender_breakdown]["male"][:clicks],
          @gender_data[:gender_breakdown]["unknown"][:clicks]
        ],
        background_colors: ['#FF6384', '#36A2EB', '#FFCE56'],
        title: 'Répartition des clics par genre',
          metric_name: 'clics'
        %>
      </div>
    <% else %>
      <p class="no-data">Aucune donnée disponible pour le moment.</p>
    <% end %>
  </div>
<% else %>
  <%= button_to "Sign in", new_user_session_path, class: "bg-green-500 text-black px-4 py-2 rounded" %>
<% end %>
